header {

    display: flex;
    justify-content: center;

    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: #bbe5ff;

}

#logoeimg {
    height: 24vh;
    padding: 15px;
    text-align: center;
    margin: auto;
}

#imglogo {
    height: 100%;
    margin-right: 20px;
    float: left;
    justify-content: center;
}

#cinco {
    display: flex;
    justify-content: center;
}


#menuhorizontal ul {
    background-color: #609dc5;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



#menuhorizontal li a {
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

#menuhorizontal li {
    /* float: left; */
    border-right: 1px solid #2D6CD6;

    text-align: center;


}

#menuhorizontal li:last-child {
    float: right;
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #2D6CD6;

}

#menuhorizontal li a:hover {
    /* background-color: #00d29a; */
    background-color: #00B483;
}

#menuhorizontal {
    padding: 0 0 10px 0;
}

#imagem-perfil {
    width: 100%;
    border-radius: 50%;
}

.flex {
    display: flex;
}

#container h1 {
    text-align: center;
    font-family: 'Arial';
    font-style: bold;
    font-size: 50px;
    margin: 50px 180px;
}

#container {
    background-color: #AAD0E8;
    margin: 50px 100px;
    padding: 40px;
    border-radius: 25px;
}

.caixa-master {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0;
}

.caixinha, option {
    width: 530px;
    height: 102.86px;
    background-color: white;
    border: 2px solid black;
    font-size: 30px;
}

.caixa-master p{
    margin: 0;
}

.fotinha{
    width: 40px;
    height: 40px;
}

.caixa-direita{
    margin: 0 0 0 13px;
}

.caixinha2, .option2{
    width: 349px;
    height: 102.86px;
    background-color: white;
    border: 2px solid black;
    font-size: 30px;
}

.botao-agenda{
    color: white;
    background-color: #00b384;
    width: 300px;
    height: 103.9px;
    font-size: 36px;
    border-radius: 15px;
}

hr{
    padding: 5px 0 0 0;
    background-color: black;
}

#caixa-fora{
    background-color: white;
    padding: 30px 40px;
    border-radius: 79px;
}

#caixa-dentro{
    background-color: #AAD0E8;
    border-radius: 80px;
    text-align: center;
}

#caixa-dentro :last-child{
    padding-bottom: 20px;
}

#caixa-dentro :first-child{
    padding-top: 20px;
}