/* NAO MEXER NESSE, E SE MEXER AVISAR TODOS */
/* NAO MEXER NESSE, E SE MEXER AVISAR TODOS */
/* NAO MEXER NESSE, E SE MEXER AVISAR TODOS */

body {
    background-color: #E4FAFE;
    font-family: 'Calibri';
    font-size: 36px;
    margin: 0;
    background: url(../Imagens/63286a32-a4e1-4c93-a588-313bdde19b55.jfif); 

}

@font-face {
    font-family: 'Calibri';
    src: url(../Fontes/calibri.ttf) format(truetype);
}

<<<<<<< HEAD
=======
header {
    background-color: #AAD0E8;
    height: 250px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

header img {
    margin: 25px 0px 0px 25px;
}

header h1 {
    font-size: 75px;
    font-weight: lighter;
    text-decoration: underline;
    justify-content: right;
}


>>>>>>> 433dc72a8d0cf2a1ff8127ea966b170aef4dcbf8
footer {
    background-color: #AAD0E8;
    font-size: 15px;
    width: 100%;
    height: 60px;
    padding-top: 1px;
    bottom: 0;
    left: 0;
    text-align: center;
}

