body{
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #E4FAFE;
  display: flex;
  flex-direction: column; 
}

header{
    height: 180px;
    background-color: #AAD0E8;
    display: flex;
    align-items: center;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 50px;
}

p{
    font-size: 20px;
}

#logo{
    height: 160px;
    padding: 15px 30px;
}

#container{
    padding: 0px 100px;
    text-align: center;
    max-width: 1900px;
    margin: 0px auto;
}

#contato{
    display: flex;
    padding: 40px 0px;
}

#dados{
    width: 50%;
    margin-right: 30px;
}

#mapa {
    width: 50%;
    margin-left: 30px;
}

#frm-contato {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 30px;
}

#frm-contato input, textarea{
    font-family: 'Calibri';
    font-size: 18px;
    margin: 5px 0px;
    border-radius: 10px;
    border: solid 1px black;
    padding: 5px 10px;
}

textarea{
    resize: none;
    padding: 5px;
}

#caixa{
    background-color: #AAD0E8;
    height: 100px;
}

button{
    margin: 25px 15px 0px 15px;
    padding: 8px 40px;
    border-radius: 10px;
    border: 0;
    font-family: 'Calibri';
    font-size: 18px;
}

#botao-enviar{
    background-color: #AAD0E8;
    color: #ffffff;
}

#botao-apagar{
    background-color: #d3d3d3;
    color: #ffffff;
}

footer{
    background-color: #AAD0E8;
    text-align: center;
    color: black;
    height: 100px;
    width: 100%;
    font-size: 22px;
}
