body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: #bbe5ff;
}

footer {
    background-color: #609dc5;
    text-align: center;
    padding: 3px 0;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

#logoeimg {
    height: 24vh;
    padding: 15px;
    text-align: left;
}

#logo-title {
    font-size: 45px;
    text-align: center;
    margin: auto;
    text-decoration: underline;
}

#idheader {
    align-items: center;
    display: flex;
    text-decoration: underline;

}

#imglogo {
    height: 100%;
    margin-right: 20px;
    float: left;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
}

#Grafico1 {
    margin: 20px auto;
    width: auto;
}

#Grafico2 {
    margin: 20px auto;
    width: auto;
}

#Grafico3 {
    margin: 20px auto;
    width: auto;
}

#Grafico4 {
    margin: 20px auto;
    width: 100%;
    margin-bottom: 0;
}

/* Responsividade */

@media (min-width: 768px) and (max-width: 992px) {
    
    header {
        width: 100%;
    }
    
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Dois-primeiros {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Dois-segundos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Pai-dois {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Grafico1 {
        margin: 20px auto;
        width: auto;
    }
    
    #Grafico2 {
        margin: 20px auto;
        width: auto;
    }
    
    #Grafico3 {
        margin: 20px auto;
        width: auto;
    }
    
    #Grafico4 {
        margin: 20px auto;
        width: auto;
    }

    #Grafico5 {
        margin: 20px auto;
        width: auto;
    }
}

@media (max-width: 767px) {
    
    header {
        width: 100%;
    }
    
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Dois-primeiros {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Dois-segundos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Pai-dois {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Grafico1 {
        margin: 20px;
        width: auto;
    }
    
    #Grafico2 {
        margin: 20px;
        width: auto;
    }
    
    #Grafico3 {
        margin: 20px;
        width: auto;
    }
    
    #Grafico4 {
        margin: 20px;
        width: auto;
    }

    #Grafico5 {
        margin: 20px;
        width: auto;
    }
}