body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #AAD0E8;
}

header img {
    margin: 25px 0px 0px 25px;
}


#imglogo {
    height: 200px;
    /* float: left; */
}

#imgba {
    width: 100px;
    margin: 0;
    padding: 0;

}

#h1h1h1 {
    text-align: center;
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

#menuhorizontal ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menuhorizontal li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

#menuhorizontal li {
    float: left;
    border-right: 1px solid #bbb;
}

#menuhorizontal li:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid #bbb;
}

#menuhorizontal li a:hover {
    background-color: #04aa6d;
}

#menuhorizontal {
    padding: 0 0 50px 0;
}

#bem-vindo {
    display: flex;
    text-align: center;
    margin: 50px auto;
    background-color: #AAD0E8;
    width: 50%;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px 0;
}

#img-home {
    width: 20%;
    margin-right: 10px;
}

#container {
    background: url(../Imagens/63286a32-a4e1-4c93-a588-313bdde19b55.jfif);
    display: flex;
    justify-content: center;
}

#texto {
    display: flex;
    font-size: 18px;
}

p {
    text-align: left;
}