/* Id's e classes */

#Nome {
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
    margin-left: 150px;
}

#Logo {
    height: 200px;
    width: 198.4px;
    margin-top: 25px;
    margin-left: 15px;
    float: left;
}

#imagem-perfil {
    width: 100%;
    border-radius: 50%;
}

#Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 40px auto;
    padding: 40px;
    border-radius: 25px;
    color: #15847c;
}



#Doguin {
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle;
    background-color: #00d29a;
    justify-content: center;
    padding: 5px 40px;
    margin: 50px;
    border-radius: 25px;
}

#Trocar {
    margin: 0 auto;
    color: #15847c;
    text-align: center;
}

#trocar_usuario {
    vertical-align: middle;
    background-color: #00d29a;
    text-align: center;
    padding: 5px 105px;
    border-radius: 25px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#casing {
    background-color: #AAD0E8;
    margin: 50px auto;
    border-radius: 25px;
}

#nao-tem-cadastro {
    text-align: center;
    color: #15847c;
}

#cadastrar {
    background-color: #00d29a;
    color: white;
    padding: 5px 105px;
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: #E4FAFE;
}