* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../Imagens/63286a32-a4e1-4c93-a588-313bdde19b55.jfif);
}

#container {
    background-color: #bbe5ff;
    width: 750px;
    height: 535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto 65px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 500px black;

    /* position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); */


}

#container img {
    margin: 15px 0;
    width: 250px;
    height: auto;
    border-radius: 50px;
}

#login {
    display: flex;
    flex-direction: column;
    margin: auto auto 35px auto;
    background-color: #609dc5;
    width: auto;
    height: 170px;
    border-radius: 50px;
    padding: 50px 15px;
    /* justify-content: center; */
}

#login p {
    color: white;
    font-size: 20px;
}

.tamanhoMinimo {
    width: 100%;
    margin: auto;
}

.tamanhoMaximo {
    height: 25px;
    width: 300px;
    margin: auto;
}

.tamanhoMaximoEmail {
    height: 25px;
    width: 327.455px;
    margin: auto;
}

#senha {
    justify-content: center;
    padding-bottom: 15px;
    margin: 0 auto;
}

#email {
    margin: 0 auto;
    padding-bottom: 15px;
}

#btnLogin {
    width: 300px;
    margin: 0 auto;
    background-color: #00B483;
    border-radius: 15px;
    border: 2px solid black;
    height: 35px;
    font-size: 20px;
    color: white;
}

#barraSenha {
    box-shadow: 2px 2px 8px rgb(38, 38, 38);
    padding: 4px 90px 4px 10px;
    border-radius: 15px;
}

#barraEmail {
    box-shadow: 2px 2px 8px rgb(38, 38, 38);
    padding: 4px 90px 4px 10px;
    border-radius: 15px;


}

form input {
    padding: 0 5px;
    font-size: 14px;

}

#icon {
    margin-left: 2px;
    margin-top: 2px;
    background: url('../Imagens/hide.png');
    background-size: cover;
    width: 30.600px;
    height: 30.600px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgb(38, 38, 38);

    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

}

#icon.hide {
    background: url('../Imagens/show.png');
    background-size: cover;
    background-color: white;
}

#verSenhaDiv {
    display: flex;
}

#erro {
    display: none;
    background-color: rgb(255, 141, 141);
    /* border: 5px solid red; */
    padding: 4px 50px;
    margin-bottom: 15px;
    /* border-color: rgb(140, 204, 44); */
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
}

#textoFaça {
    font-size: 24px;
    text-decoration: underline;
}

#cadastre-se a {
    color: blue;
    text-decoration: none;
}

#cadastre-se a:hover {
    text-decoration: underline;
}

#cadastre-se {
    padding-bottom: 15px;
}


/* ==== */
/* ==== */
/* ==== */
/* ==== */

@media (min-width: 993px) {
    #container {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 767px) {

    #container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        margin: 0;
        position: relative;
        top: auto;
        left: auto;
    }

    #login{
        /* width: 100; */
        margin-top: 50px;
    }

    #cadastre-se{
        margin-bottom: auto;
    }

    .tamanhoMaximo {
        height: 25px;
        width: auto;
        margin: auto;
    }

    .tamanhoMaximoEmail {
        height: 25px;
        padding-right: 130px;
        width: 210px;
        margin: auto;
    }
    


}

@media (min-width: 768px) and (max-width: 992px) {

    #container {
        margin: 25px auto;
        display: flex;
        align-items: center;
        width: 90%;
        height: 95vh;
        border-radius: 15px;
        position: relative;
        top: auto;
        left: auto;
    }

    #container img{
        width: 450px;
    }

    #textoFaça{
        font-size: 36px;
    }

    #login{
        margin: 15px;
        width: 85%;
        height: 450px;
    }

    #barraEmail{
        height: 100px;
        padding-right: 275px;
        font-size: 36px;
    }

    #tamanhoMaximoEmail{
        padding-right: 10px;
    }

    #barraSenha{
        height: 100px;
        font-size: 36px;
        padding-right: 193px;
    }

    #tamanhoMaximo{
        padding-right: 10px;
    }


    #icon{
        margin-left: 8px;
        height: 100px;
        width: 100px;
    }

    #tamanhoMaximoEmail{
        padding-left: 120px;
    }

    #login p{
        font-size: 46px;
    }

    #btnLogin{
        margin-top: 15px;
        height: 100px;
        width: 500px;
        font-size: 36px;
    }

    #cadastre-se{
        font-size: 36px;
    }

    #erro{
        font-size: 36px;
    }
}