flex {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

header {

    display: flex;
    justify-content: center;
    
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: #bbe5ff;

}

footer {
    background-color: #609dc5;
    text-align: center;
    padding: 3px 0;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px black;

}

/* ----------------------- */
#logoeimg {
    height: 24vh;
    padding: 15px;
    text-align: center;
    margin: auto;
}

#imglogo {
    height: 100%;
    margin-right: 20px;
    float: left;
    justify-content: center;
}

#cinco {
    display: flex;
    justify-content: center;
}


#menuhorizontal ul {
    background-color: #609dc5;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



#menuhorizontal li a {
    font-weight: bold;
text-shadow: 2px 2px 4px black;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

#menuhorizontal li {
    /* float: left; */
    border-right: 1px solid #2D6CD6;

    text-align: center;


}

#menuhorizontal li:last-child {
    float: right;
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #2D6CD6;

}

#menuhorizontal li a:hover {
    /* background-color: #00d29a; */
    background-color: #00B483;
}

#menuhorizontal {
    padding: 0 0 10px 0;
}

/* -------------- */